<h3><i class="fas fa-book-reader">Story Books</i></h3>
<div class="section">
    <p class="lead">A place to create public stories or keep private strories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"> Log in with Google</i>
    </a>
</div>